extends ../layouts/application.pug

block header
  = t('views.statuses.create.title')

block content
  +formFor()(action=`/statuses/${taskStatus.id}/edit` method='post')
    +input(taskStatus, 'name', errors)(type="text")
    +submit(taskStatus)(value=t('views.statuses.new.submit'))
