extends ../layouts/application.pug

block header
  = t('views.labels.edit.title')

block content
  +formFor()(action=`/labels/${label.id}/edit` method='post')
    +input(label, 'name', errors)(type="text")
    +submit(label)(value=t('views.label.edit.submit'))
