extends ../layouts/application.pug

block header
  = t('views.tasks.edit.title')

block content
  +formFor()(action=`/tasks/${task.id}/edit` method='post')
    +input(task, 'name', errors)(type="text")
    +textarea(task, 'description', errors)
    +select(task, statuses, 'statusId', errors)
    +select(task, users, 'executorId', errors)
    +submit()(value=t('views.tasks.edit.submit'))