extends ../layouts/application.pug

block header
  = t('views.tasks.create.title')

block content
  +formFor()(action='/tasks' method='post')
    +input(task, 'name', errors)(type="text")
    +textarea(task, 'description', errors)
    +select(task, statuses, 'statusId', errors)
    +select(task, users, 'executorId', errors)
    +select(task, labels, 'labels', errors)(multiple)
    +submit()(value=t('views.tasks.new.submit'))