extends ../layouts/application.pug

block header
  = t('views.tasks.create.title')

block content
  +formFor()(action='/tasks' method='post')
    +input(tasks, 'name', errors)(type="text")
    +textarea(tasks, 'description', errors)
    +select(tasks, statuses, 'statusId', errors)
    +select(tasks, users, 'executorId', errors)
    +select(tasks.labels, labels, 'labels', errors)(multiple)
    +submit()(value=t('views.tasks.new.submit'))